<!--<div class="text-center p-5">
      <h2>ABOUT ME</h2>
      <p>For Any Questions or Collaborations, Contact us with Your Details Below:</p>
</div> -->
<div class="row space">
<div class="col-md-4 about">
<%= image_tag("Photoroom-20240526_213830.png") %>
</div>
<div class="col-md-8 about text ml-5 p-3">
<p class="mb-5">Hi, I am Abdullahi, a versatile and passionate developer with a strong focus on front-end development, graphic design, and video creation. With extensive experience in creating visually appealing and user-friendly web interfaces, I excel at bringing creative concepts to life through clean, efficient code.</p>
<p class="mb-5">I specialize in using modern technologies like HTML, CSS, JavaScript, and frameworks such as React.js and Tailwind CSS to design responsive websites and applications. Beyond coding, my skills in graphic design and video editing allow me to craft engaging digital experiences that resonate with users.</p>
<p class="mb-5">As a forward-thinking developer, I continually explore emerging trends to ensure my work remains innovative and effective. My goal is to deliver exceptional solutions that combine technical precision with aesthetic excellence.</p>
<button type="button" class="about-button p-2 text-white"><a class="p-3" href="mailto:oniyeabdullahi00@gmail.com">Hire Me</a></button>  <button type="button" class="about-button  p-2 text-white"><a class="p-3" href="mailto:oniyeabdullahi00@gmail.com">Contact Me<a/></button> 

</div>


