<div class="text-center mb-5 web-home">
<!--<div class="mx-auto d-block image-home">
<%= image_tag("Photoroom-20240526_213830.png") %>
</div>-->
<h1 class="mb-5 mt-5">WELCOME TO WEB SOLUTIONS</h1>
<p class="mb-5">At Web Solutions, we are dedicated to transforming your digital presence into a captivating and effective platform. Whether you need a stunning website, seamless web applications, or innovative designs, our expertise ensures your goals are achieved with precision and creativity.</p>
<button type="button" class="about-button p-2 text-white mt-5 mb-5"><a class="p-3" href="mailto:oniyeabdullahi00@gmail.com">VIEW MORE</a></button> 
</div>
